body {
  font-family: 'Arsenal', sans-serif, Arial, serif !important;
}

header {
  font-family: 'Neucha', 'Arsenal', cursive, sans-serif, Arial, serif !important;
}

a.button {
  font-family: 'Neucha', 'Arsenal', cursive, sans-serif, Arial, serif !important;
}

#main-content h1, h2, h3, h4, h5, h6 {
  font-family: 'Neucha', 'Arsenal', cursive, sans-serif, Arial, serif !important;
}
