.wrapper{
  max-width: 100% !important;
  width: 100% !important;
  margin: auto !important;
}

section {
  max-width: 100% !important;
}

.content-wrapper{
  width: 60%;
  margin: auto;
}

td{
  /*
  width: 250px;
  vertical-align: top !important;
  font-size: 12px;
  */
}

td#sidebar{
  width: 250px !important;
  vertical-align: top !important;
  font-size: 12px !important;
}
