.wrapper{
  max-width: 100% !important;
  width: 100% !important;
  margin: auto !important;
}

section {
  max-width: 100% !important;
}

.content-wrapper{
  width: 80%;
  margin: auto;
}

td #sidebar{
  width: 250px;
  vertical-align: top;
  font-size: 12px;
}
